a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
#menu_6abaa81e a { text-decoration: none; }
#menu_6abaa81e_pane { background-color: #272727; border: 1px solid #000000; padding-top: 10px; padding-bottom: 10px; box-shadow: 2px 2px 6px 0px rgba(8, 8, 8, 0.784314); }
#menu_6abaa81e_hr { background-color: #000000; height: 1px; border: none; }
#menu_6abaa81e_entry { padding-left: 10px; padding-right: 10px; padding-top: 3px; padding-bottom: 3px; }
#menu_6abaa81e_entry:hover { background-color: #323232; color: #FFFFFF !important; }
#menu_6abaa81e_entry:hover span { color:#FFFFFF !important; }
		.menu_6abaa81e_mainMenuEntry { text-align: center; }
		.menu_6abaa81e_mainMenuEntry:hover {	background-color:#282828; }
		.menu_6abaa81e_mainMenuEntry:hover span {	color:#FFFFFF !important; }
		#menu_6abaa81e .mobileEntry { display: none; } 
		#menu_6abaa81e .normalEntry { display: block; } 
		@media only screen and (max-width:550px) { 
			#menu_6abaa81e .mobileEntry { display: block; } 
			#menu_6abaa81e .normalEntry { display: none; } 
		}
body { background-color:#181818; padding:0;  margin: 0; }
.textstyle1 { text-align:left; }
#container_67a1d7e2 { position:absolute; left:1%; top:30%; width:79%; min-height:408px; background-color:#1C1C1C;  }
#container_67a1d7e2_padding { margin: 10px; display: block;  }
#text_6e32fa5d { position:absolute; left:40%; top:85%; min-width:800px; max-width:800px; background:none;  }
.textstyle2 { font-size:20pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF; font-weight:bold;  }
#container_3c000d03 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background-color:#101010;  }
#container_3c000d03_padding { margin: 10px; display: block;  }
#img_385cb94e { vertical-align: bottom; position:relative; display: inline-block; width:50%; background:none; height:auto;  }
#menu_6abaa81e { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:100%; height:29px; text-align:left; background-color:#232323; border: 1px solid #0C0C0C;  }
.menuholder1 { position: relative; overflow: hidden; width: 100%; height: 100%; }
.menustyle1 { position:absolute; width:38px; height:29px; left:10px;  }
.menuentry_text1 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:34px;  }
.textstyle3 { font-size:22pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  white-space: nowrap; }
.menustyle2 { position:absolute; width:61px; height:29px; left:10px;  }
.menuentry_text2 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:18px;  }
.textstyle4 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  white-space: nowrap; }
.menustyle3 { position:absolute; width:134px; height:29px; left:71px;  }
.menustyle4 { position:absolute; width:173px; height:29px; left:205px;  }
.textstyle5 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  white-space: nowrap; }
#button_597592f2 { border-radius: 5px; position:absolute; left:8%; top:71%; width:150px; height:40px; max-width:800px; background-color:#161A2D;  }
.vcenterstyle1 { display: table; width: 100%; height: 100%; }
.vcenterstyle2 { display: table-cell; vertical-align: middle; }
.textstyle6 { text-align:center; }
.textstyle7 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  }
#img_40c8368a { border-radius: 15px; position:absolute; left:2%; top:33%; width:25%; background:none; height:auto;  }
#button_396ee45b { border-radius: 5px; position:absolute; left:34%; top:71%; width:150px; height:40px; max-width:800px; background-color:#161A2D;  }
#img_ee07095 { border-radius: 15px; position:absolute; left:28%; top:33%; width:25%; background:none; height:auto;  }
#button_23c81236 { border-radius: 5px; position:absolute; left:60%; top:71%; width:150px; height:40px; max-width:800px; background-color:#161A2D;  }
#img_58be145d { border-radius: 15px; position:absolute; left:54%; top:33%; width:25%; background:none; height:auto;  }
