body {
    background-color: rgb(20, 20, 20);
    font-family: 'Arial', sans-serif; 
}
img {
    display: block;
    max-width: 100%;
}
ul {
    list-style-type: none;
    margin: 40px auto 0;
    padding: 0;
    text-align: center;
    position: absolute;
    top: -20px;
    left: 0;
    right: 0;
}
ul li {
    display: inline-block;
}
ul li a {
    display: inline-block;
    padding: 12px 20px;
    margin: 0 10px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 20px; 
}
space {
    color: rgb(20, 20, 20);
}
button {
    background-color: rgb(20, 20, 20);
    box-shadow: none;
    border: none;
    color: white;
    padding: 5px 15px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    font-weight: bold;
}
logo {
    display: inline-block;
}
.field {
    padding: 10px;
    display: inline-block;
}
h1, h2, h3, p, episode, e1info, e2info, e3info {
    color: white;
    margin-left: 1%; 
}

/* Adjustments for mobile */
@media only screen and (max-width: 600px) {
    ul {
        top: 15px;
    }
    ul li {
        display: block; /* Display list items as block elements */
    }
    ul li a {
        display: block; /* Display buttons as block elements */
        margin: 5px auto; /* Adjust margin to lower the buttons without adding spacing */
        padding: 10px 20px; /* Add padding to buttons */
        text-decoration: none; /* Remove underline */
        color: white; /* Text color */
        font-weight: bold; /* Bold text */
        font-size: 20px; /* Font size */
        top: 40px;
    }
    h1.title1 {
        margin-top: 150px;
        font-size: 40px; 
        font-weight: bold;
        text-align: center;
    }
    h1.title2 {
        margin-top: 50px; 
        font-size: 40px; 
        font-weight: bold;
        text-align: center;
    }
    h1, h2, h3, p, episode, e1info, e2info, e3info {
        color: white;
        font-size: 19.2px;
        line-height: 1.5;
        max-width: 70ch;
        display: block;
        overflow-wrap: break-word; /* Enable word wrapping */
    }
        .mobile-line-break br {
            display: none;
        }
    }


